/*

0 - 600px:        Phone
600 - 900px:      Tablet Portait
900 - 12000px:    Tablet Landscape
1200 - 1800px:    Normal styles apply here
1800px +:         Big desktop


$breakpoint argument choices:
-sm-phone
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.4;
}

.nav__link {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lato";
  font-size: 1.36rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
@media only screen and (min-width: 112.5em) {
  .nav__link {
    font-size: 1.2rem;
  }
}
.nav__link:hover {
  color: black;
}

.heading-primary--main {
  font-family: "Parisienne", cursive;
  font-size: 3.4rem;
  letter-spacing: 0.4px;
  transform: rotate(0.6deg);
  color: black;
  justify-self: center;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 3.1rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .heading-primary--main {
    font-size: 3.2rem;
  }
}
.heading-primary--sub {
  margin-top: 1.2rem;
  margin-right: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.4px;
}
.heading-secondary {
  padding: 1rem 0;
  border-bottom: 1px solid;
  font-family: "Lato";
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .heading-secondary {
    font-size: 1.28rem;
  }
}
.heading-secondary--description {
  padding: 0.6rem 0;
}
.heading-info {
  font-size: 1.2rem;
  width: max-content;
}
.heading-booking {
  font-size: 1.46rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-style: italic;
}
.heading--review {
  padding: 1rem 0;
  border-bottom: 1px solid;
  font-family: "Lato";
  font-size: 1.28rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
.heading--reviews {
  font-size: 1.44rem;
  letter-spacing: 0.1px;
  border-bottom: solid 1px;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
}

.paragraph {
  font-size: 1.44rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.7;
  text-align: center;
}
@media only screen and (max-width: 93.75em) {
  .paragraph {
    font-size: 1.34rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .paragraph {
    font-size: 1.48rem;
  }
}
.paragraph__first {
  font-size: 1.38rem;
}
@media only screen and (max-width: 93.75em) {
  .paragraph__first {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .paragraph__first {
    font-size: 1.38rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .paragraph__first {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .paragraph__first {
    font-size: 1.42rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .paragraph__first {
    font-size: 1.28rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .paragraph__second {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .paragraph__second {
    font-size: 1.42rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .paragraph__second {
    font-size: 1.29rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .paragraph__third {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .paragraph__third {
    font-size: 1.42rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .paragraph__third {
    font-size: 1.29rem;
  }
}
.paragraph2 {
  line-height: 2;
}
@media only screen and (max-width: 56.25em) {
  .paragraph2 {
    line-height: 2;
  }
}
.paragraph--description {
  font-size: 1.4rem;
  text-align: left;
}

.description {
  font-size: 1.4rem;
}
.description__list {
  font-size: 1.4rem;
}

.reviews__body {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.36rem;
  letter-spacing: 0.1px;
}

.fa-comment {
  font-size: 1.54rem;
}

.banner__header {
  margin-left: 1.6rem;
  color: white;
  letter-spacing: 0.4px;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

#caption {
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.2px;
}

.contact {
  font-size: 1.52rem;
}

.copyright__text {
  font-size: 1.5rem;
}

.banner {
  height: 2.44rem;
  width: 66%;
  margin: 3rem 0;
  margin-bottom: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: skew(-6deg, 0deg);
  background: linear-gradient(to right top, #176ae2 22%, rgba(24, 146, 218, 0.8));
  border-radius: 7px;
  transition: opacity 0.76s ease-out, transform 0.76s ease-out;
}
@media only screen and (max-width: 93.75em) {
  .banner {
    width: 77%;
  }
}
@media only screen and (max-width: 75em) {
  .banner {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .banner {
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .banner {
    width: 100%;
    border-radius: 0px;
    transform: skew(0deg, 0deg);
  }
}
@media only screen and (max-width: 25em) {
  .banner {
    width: 100%;
    border-radius: 0px;
    transform: skew(0deg, 0deg);
  }
}
.banner--hidden {
  opacity: 0;
  transform: translateX(-8rem);
}

.booking {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  height: 56rem;
  width: 65.9%;
  box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.18);
  background: linear-gradient(166.9deg, rgba(255, 255, 255, 0.86) 0%, rgba(255, 255, 255, 0.64) 49.1%, transparent 49.4%), url(../images/pool.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.booking__header {
  width: 30rem;
}
.booking__body {
  margin-top: 2rem;
}
.booking__list {
  list-style: none;
  width: fit-content;
}
.booking__item {
  width: fit-content;
}
.booking__text {
  width: 50%;
  padding: 3rem 5rem;
}
@media only screen and (max-width: 93.75em) {
  .booking {
    width: 77%;
  }
}
@media only screen and (max-width: 75em) {
  .booking {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .booking {
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .booking {
    width: 100%;
  }
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 5.82;
  background-color: #fff;
}
@media only screen and (max-width: 56.25em) {
  .card {
    justify-content: unset;
  }
}
@media only screen and (min-width: 112.5em) {
  .card {
    flex: 5.9 0;
  }
}
.card__header {
  position: relative;
  width: 25rem;
  margin-bottom: 2.2rem;
}
@media only screen and (max-width: 56.25em) {
  .card__header {
    width: 28rem;
    margin-top: 1.2rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__header {
    width: 29rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__header {
    width: 23.4rem;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 56.25em) {
  .card__body {
    align-items: center;
    width: calc(57rem + 3%);
    height: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__body {
    align-items: center;
    width: calc(49rem + 7%);
    height: 80%;
  }
}
@media only screen and (max-width: 25em) {
  .card__body {
    width: calc(47rem + 3%);
  }
}
@media only screen and (max-width: 56.25em) {
  .card__body2.card__body {
    height: auto;
  }
}
@media only screen and (max-width: 56.25em) {
  .card__body-box {
    flex: 0 1 5.4rem;
    margin: 0 1rem;
    margin-top: 1.5rem;
  }
}
.card__body-box:not(:first-child) {
  margin-top: 2.8rem;
}
@media only screen and (max-width: 56.25em) {
  .card__body-box:not(:first-child) {
    margin-top: 1.3rem;
  }
}
.card__body-box1 {
  width: 42rem;
}
@media only screen and (max-width: 56.25em) {
  .card__body-box1 {
    width: 50rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__body-box1 {
    width: 49rem;
  }
}
@media only screen and (max-width: 25em) {
  .card__body-box1 {
    width: 46rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__body-box1 {
    width: 39rem;
  }
}
.card__body-box2 {
  width: 35rem;
}
@media only screen and (max-width: 56.25em) {
  .card__body-box2 {
    width: 51rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__body-box2 {
    width: 37rem;
  }
}
@media only screen and (max-width: 25em) {
  .card__body-box2 {
    width: 36rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__body-box2 {
    width: 32rem;
  }
}
.card__body-box3 {
  width: 32rem;
}
@media only screen and (max-width: 93.75em) {
  .card__body-box3 {
    width: 33rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card__body-box3 {
    width: 51rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card__body-box3 {
    width: 37rem;
  }
}
@media only screen and (max-width: 25em) {
  .card__body-box3 {
    width: 35rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__body-box3 {
    width: 31rem;
  }
}
.card__body-box4.card__body-box {
  width: 36rem;
}
@media only screen and (max-width: 93.75em) {
  .card__body-box4.card__body-box {
    width: 34rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card__body-box4.card__body-box {
    width: 44rem;
  }
}
@media only screen and (max-width: 25em) {
  .card__body-box4.card__body-box {
    width: 38rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .card__body-box4.card__body-box {
    width: 37rem;
  }
}
.card--first {
  height: 100%;
}
@media only screen and (max-width: 75em) {
  .card--first {
    padding: 0 1.4 rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card--first {
    padding: 0;
  }
}
.card--second {
  flex: 4.82;
}
@media only screen and (max-width: 75em) {
  .card--second {
    padding: 0 1.4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card--second {
    padding: 0;
    margin-top: 2rem;
  }
}
.card--third {
  width: 100%;
  padding: 0 5rem;
}
@media only screen and (max-width: 56.25em) {
  .card--third {
    padding: 0;
  }
}
.description__header {
  width: 114%;
  display: flex;
  justify-content: space-around;
  margin-top: 2.2rem;
}
.description__base {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  width: 100%;
}
.description__list {
  width: 50%;
  padding-left: 9rem;
}
@media only screen and (max-width: 56.25em) {
  .description__list {
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .description__list {
    padding-left: 4rem;
  }
}

.rooms {
  width: 50%;
  margin: 0;
  border-right: solid 1px #000000ba;
}
.rooms__text-box {
  padding-right: 2rem;
  width: 90%;
}
@media only screen and (max-width: 56.25em) {
  .rooms__text-box {
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .rooms__text-box {
    padding-right: 0;
  }
}
.rooms__text-box:not(:first-child) {
  margin-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .rooms__text-box:not(:first-child) {
    margin-top: 3rem;
  }
}

.gallery {
  position: relative;
  margin: 3rem 0;
  width: 60%;
}
.gallery--hidden {
  display: none;
  text-align: center;
}
.gallery__img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 93.75em) {
  .gallery {
    width: 77%;
  }
}
@media only screen and (max-width: 75em) {
  .gallery {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .gallery {
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .gallery {
    width: 94%;
  }
}
@media only screen and (max-width: 25em) {
  .gallery {
    width: 100%;
  }
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1.6rem;
  margin-top: -5rem;
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 0.1s ease-in, opacity 0.1s ease-in;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
@media (hover: hover) {
  .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.prev:active,
.next:active {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.gallery__number {
  color: #f2f2f2;
  font-size: 1.8rem;
  padding: 0.6rem 1rem;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  margin-top: -0.4rem;
  padding: 0.6rem;
  text-align: center;
  color: white;
  background-color: #222;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.5;
  transition: opacity 0.1s ease-out;
}

.active,
.demo:hover {
  opacity: 1;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex: 10;
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.91s ease-out;
}
.nav__list {
  display: flex;
  list-style: none;
  width: fit-content;
  transition: transform 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
    border-bottom: solid 1px #d1d1d1;
    transform: translateY(10rem);
  }
}
.nav__item {
  display: flex;
  transition: background-color 0.1s ease-out;
  border-left: solid 1px #d1d1d1;
}
@media only screen and (max-width: 37.5em) {
  .nav__item {
    border-top: solid 1px #d1d1d1;
  }
}
.nav__item:hover {
  background-color: #f8f8f8;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2rem;
  height: 7.3rem;
  padding: 0 1rem;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 75em) {
  .nav__link {
    width: 14rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__link {
    width: 10rem;
    height: 7rem;
  }
  .nav__link--banner {
    width: 12.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    width: 14rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 25em) {
  .nav__link {
    width: 15rem;
    height: 7rem;
  }
}
.nav__checkbox {
  display: none;
}
.nav__button {
  display: none;
  width: 8rem;
  height: auto;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .nav__button {
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav__checkbox:checked ~ .nav__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 6.4rem;
    background-color: white;
    transform: translateY(0rem);
  }
}
.nav__icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 4rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.28s ease-out;
}
.nav__icon::before {
  top: -1rem;
}
.nav__icon::after {
  top: 1rem;
}
.nav__button:hover .nav__icon::before {
  top: -1rem;
}
.nav__button:hover .nav__icon::after {
  top: 1rem;
}
.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.pager {
  grid-row: 3;
  grid-column: center-start/center-end;
  list-style: none;
  margin: 1.2rem 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager li > a {
  background-color: #e9e9e9;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  margin: 0 0.6rem;
  transition: all 0.09s ease-out;
  border-radius: 1.2rem;
}
.pager li > a:hover {
  background-color: #e4e4e4;
  transform: scale(1.02) translateY(-2px);
  box-shadow: 0px 2px 2px #c7c7c7;
}
.pager li .active_link {
  background-color: #c8c8c8;
}
.pager li .active_link:hover {
  background-color: #c8c8c8;
  transform: none;
  box-shadow: none;
}

.review {
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 63%;
}
@media only screen and (max-width: 93.75em) {
  .review {
    width: 70%;
  }
}
@media only screen and (max-width: 75em) {
  .review {
    width: 83%;
  }
}
@media only screen and (max-width: 56.25em) {
  .review {
    width: 79%;
  }
}
@media only screen and (max-width: 37.5em) {
  .review {
    width: 86%;
  }
}
@media only screen and (max-width: 25em) {
  .review {
    width: 94%;
  }
}
.review__header {
  display: flex;
  justify-content: center;
}
.review__container {
  display: flex;
  margin-top: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .review__container {
    flex-direction: column;
    margin: 0;
  }
  .review__container:first-child {
    margin-top: 1.4rem;
  }
}

.reviews {
  flex: 1;
  margin: 0 3rem;
}
@media only screen and (max-width: 56.25em) {
  .reviews {
    margin-bottom: 3.6rem;
  }
}
.reviews__header {
  display: flex;
  width: max-content;
}

.slider__img1 {
  width: 0;
  background: white;
  height: 100%;
  z-index: 100;
  transition: width 1.2s cubic-bezier(0, 0.01, 0.5, 0.99);
  position: absolute;
  right: 0;
}
.slider__img1--visible {
  width: 100%;
  transition: all 0s;
}
.slider__text1 {
  transition: opacity 0.48s ease-out, transform 0.48s ease-out;
}
.slider__text1--hidden {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0s;
}
.slider__text2 {
  transition: opacity 0.41s ease-out, transform 0.41s ease-out;
}
.slider__text2--hidden {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0s;
}
.slider__text3 {
  transition: opacity 0.39s ease-out, transform 0.39s ease-out;
}
.slider__text3--hidden {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0s;
}
.slider__text4 {
  transition: opacity 0.39s ease-out, transform 0.39s ease-out;
}
.slider__text4--hidden {
  opacity: 0;
  transform: translateX(-15rem);
  transition: all 0s;
}
.slider__text5 {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slider__text5--hidden {
  opacity: 0;
  transform: translateX(20rem);
  transition: all 0s;
}
.slider__text6 {
  transition: opacity 0.55s ease-out 0.03s, transform 0.55s ease-out 0.03s;
}
.slider__text6--hidden {
  opacity: 0;
  transform: translateX(20rem);
  transition: all 0s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  margin: 3rem 0;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .section {
    margin: 0;
  }
}
.section-first {
  margin-top: 0;
  height: 92.8vh;
  width: 100%;
  min-height: 100vh;
  padding-top: 6.4rem;
}
@media only screen and (max-width: 75em) {
  .section-first {
    height: 93.6vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-first {
    flex-direction: column-reverse;
    padding: 0;
    height: 97vh;
    min-height: 69rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-first {
    min-height: 77rem;
    height: 98vh;
  }
}
@media only screen and (min-width: 112.5em) {
  .section-first {
    height: 91.4vh;
  }
}
.section-first__description {
  display: flex;
  flex-direction: column;
  min-width: 48%;
}
.section-first__img {
  height: 100%;
  flex: 10;
  background: white;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .section-first__img {
    flex: 0;
  }
}
.section-second {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .section-second {
    flex-direction: column;
    height: auto;
    min-height: 92vh;
    padding-bottom: 0;
    margin: 4rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-second {
    margin-bottom: 0;
  }
}
.section-second__img {
  height: 100%;
  flex: 10;
  background: white;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .section-second__img {
    flex: 1;
  }
}
.section-third {
  height: auto;
  width: 71%;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 93.75em) {
  .section-third {
    width: 77%;
  }
}
@media only screen and (max-width: 75em) {
  .section-third {
    width: 80%;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-third {
    margin: 4rem 0;
    margin-bottom: 12rem;
    width: 85%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-third {
    width: 94%;
  }
}
@media only screen and (max-width: 25em) {
  .section-third {
    width: 96%;
  }
}
.section--hidden {
  opacity: 0;
  transform: translateY(4rem);
}
.section__observer {
  transition: opacity 0.76s ease-out, transform 0.76s ease-out;
}

#seating {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  #seating {
    width: 100%;
    height: 75vh;
  }
}
@media only screen and (max-width: 37.5em) {
  #seating {
    height: 63vh;
  }
}
@media only screen and (max-width: 25em) {
  #seating {
    height: 65vh;
  }
}

#patio {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  #patio {
    height: 81vh;
  }
}
@media only screen and (max-width: 37.5em) {
  #patio {
    height: 61vh;
  }
}

.hidden {
  opacity: 0;
  transition: all 0s;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 3rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.copyright {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 6.4rem;
  width: 100%;
  z-index: 50;
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.04);
  transition: transform 0.25s ease-out;
}
.header--reduced-height {
  transform: translateY(-1rem);
}
.header__primary-box {
  display: flex;
  flex: 5.82;
  margin-top: 0.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 34%;
  transition: opacity 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .header__primary-box {
    flex: none;
    margin-left: 2rem;
  }
}
.header__info-box {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .header__logo-box {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    margin-left: 6%;
  }
}

/*# sourceMappingURL=style.comp.css.map */
