main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.4rem 0;

    @include respond(tab-port) {
        flex-direction: row;
    }
}

.section {
    display: flex;
    justify-content: center;
    height: 29vw;
    width: 66%;
    margin: 2rem 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 9px rgba(black, 0.13);

    &-first {
        margin-top: 3.4rem;

        &__description {
            display: flex;
            flex-direction: column;

            min-width: 48%;
        }
    }

    @include respond(laptop) {
        height: 34vw;
        width: 77%;
    }

    @include respond(tab-land) {
        height: 35vw;
        width: 87%;
    }

    @include respond(tab-port) {
        flex-direction: column;
        width: 62vw;
        height: auto;
    }

    @include respond(phone) {
        width: 80vw;
    }

    @include respond(sm-phone) {
        width: 84vw;
    }

    &-second {
        margin-bottom: 3.4rem;

        @include respond(tab-port) {
            flex-direction: column-reverse;
        }
    }

    &-third {
        height: auto;
        margin: 3.4rem 0;

        @include respond(laptop) {
            width: 68%;
        }

        @include respond(tab-land) {
            width: 72%;
        }

        @include respond(tab-port) {
            width: 85%;
        }
        @include respond(sm-phone) {
            width: 98%;
        }
    }
}

#seating {
    height: 100%;
    width: auto;
    background: rgb(255, 255, 255);
}

#patio {
    height: 100%;
    width: auto;
    background: rgb(255, 255, 255);
}
