.header {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // background-image: linear-gradient(179.6deg, $color-primary 52%, white 88%);

    // border-radius: 12px;
    // padding: 3rem 0;

    display: flex;
    flex-direction: column;

    &__primary-box {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;

        padding-top: 1rem;
        padding-right: 0vw;

        // background: linear-gradient(179.9deg, #dac27b 56%, white 75.8%);

        border-radius: 34%;
    }

    &__info-box {
        display: flex;
        justify-content: center;
    }

    &__logo-box {
        @include respond(tab-port) {
            // width < 900?
            margin-left: 10%; // 1rem = 8px; 8/16 = 50%
        }

        @include respond(phone) {
            // width < 600?
            margin-left: 6%; // 1rem = 7px; 7/16 = 43.75%
        }

        @include respond(phone-sm) {
            // width < 600?
            margin-left: 4%; // 1rem = 7px; 7/16 = 43.75%
        }
    }
}
