.header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 6.4rem;
    width: 100%;
    z-index: 50;
    background: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.04);
    transition: transform 0.25s ease-out;

    &--reduced-height {
        transform: translateY(-1rem);
    }

    &__primary-box {
        display: flex;
        flex: 5.82;
        margin-top: 0.4rem;
        justify-content: center;
        align-items: center;
        border-radius: 34%;
        transition: opacity 0.88s ease-out;

        @include respond(phone) {
            flex: 6.7;
        }
        @include respond(sm-phone) {
            flex: 7.4;
        }
    }

    &__info-box {
        display: flex;
        justify-content: center;
    }

    &__logo-box {
        @include respond(tab-port) {
            // width < 900?
            margin-left: 10%; // 1rem = 8px; 8/16 = 50%
        }

        @include respond(phone) {
            // width < 600?
            margin-left: 6%; // 1rem = 7px; 7/16 = 43.75%
        }

        @include respond(phone-sm) {
            // width < 600?
            margin-left: 4%; // 1rem = 7px; 7/16 = 43.75%
        }
    }
}
