//COLORS

$color-primary: rgb(218, 194, 123);
$color-primary-dark: rgb(200, 165, 57);
$color-primary-light: rgb(221, 200, 136);

$color-secondary: rgb(123, 147, 218);
$color-secondary-dark: rgb(98, 119, 185);
$color-secondary-light: rgb(142, 164, 230);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$header-text-color: #000;
$heading-main-color: #000;
$heading-sub-color: #000;

$heading-sub-color: #000;
$heading-sub-color: #000;
$heading-sub-color: #000;

// FONT SIZE
$default-font-size: 1.6rem;

$shadow: 0 2px 8px rgba(black, 0.1);

$padding-description: 7rem;
$padding-description--tab-port: 4rem;
$padding-description--phone: 4rem;

$book-gallery-width--laptop: 77%;
$book-gallery-width--tab-land: 80%;
$book-gallery-width--tab-port: 85%;
$book-gallery-width--phone: 94%;
$book-gallery-width--sm-phone: 96%;

$width-main--laptop: 77%;
$width-main--tab-land: 80%;
$width-main--tab-port: 85%;
$width-main--phone: 94%;
$width-main--sm-phone: 100%;

$gutter-x: 3rem 0;

$transition-booking-section: opacity 0.76s ease-out, transform 0.76s ease-out;
