.banner {
    height: 2.44rem;
    width: 66%;
    margin: $gutter-x;
    margin-bottom: 0;
    box-shadow: $shadow;
    transform: skew(-6deg, 0deg);
    background: linear-gradient(
        to right top,
        rgba(23, 106, 226, 1) 22%,
        rgba(24, 146, 218, 0.8)
    );
    border-radius: 7px;
    transition: $transition-booking-section;

    @include respond(laptop) {
        width: $width-main--laptop;
    }
    @include respond(tab-land) {
        width: $width-main--tab-land;
    }
    @include respond(tab-port) {
        width: $width-main--tab-port;
    }
    @include respond(phone) {
        width: $width-main--sm-phone;
        border-radius: 0px;
        transform: skew(0deg, 0deg);
    }
    @include respond(sm-phone) {
        width: $width-main--sm-phone;
        border-radius: 0px;
        transform: skew(0deg, 0deg);
    }

    &--hidden {
        opacity: 0;
        transform: translateX(-8rem);
    }
}
