.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 5.82;
    background-color: #fff;

    @include respond(tab-port) {
        justify-content: unset;
    }
    @include respond(big-desktop) {
        flex: 5.9 0;
    }

    &__header {
        position: relative;
        width: 25rem;
        margin-bottom: 2.2rem;

        @include respond(laptop) {
        }
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
            width: 28rem;
            margin-top: 1.2rem;
            margin-bottom: 0;
        }
        @include respond(phone) {
            width: 29rem;
        }
        @include respond(big-desktop) {
            width: 23.4rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        justify-content: space-evenly;

        @include respond(tab-port) {
            align-items: center;
            width: calc(57rem + 3%);
            height: 80%;
        }
        @include respond(phone) {
            align-items: center;
            width: calc(49rem + 7%);
            height: 80%;
        }

        @include respond(sm-phone) {
            width: calc(47rem + 3%);
        }

        &2.card__body {
            @include respond(tab-port) {
                height: auto;
            }
        }

        &-box {
            @include respond(tab-port) {
                flex: 0 1 5.4rem;
                margin: 0 1rem;
                margin-top: 1.5rem;
            }

            &:not(:first-child) {
                margin-top: 2.8rem;
                @include respond(tab-port) {
                    margin-top: 1.3rem;
                }
            }

            &1 {
                width: 42rem;
                @include respond(tab-port) {
                    width: 50rem;
                }
                @include respond(phone) {
                    width: 49rem;
                }
                @include respond(sm-phone) {
                    width: 46rem;
                }
                @include respond(big-desktop) {
                    width: 39rem;
                }
            }
            &2 {
                width: 35rem;
                @include respond(tab-port) {
                    width: 51rem;
                }
                @include respond(phone) {
                    width: 37rem;
                }
                @include respond(sm-phone) {
                    width: 36rem;
                }
                @include respond(big-desktop) {
                    width: 32rem;
                }
            }
            &3 {
                width: 32rem;
                @include respond(laptop) {
                    width: 33rem;
                }
                @include respond(tab-port) {
                    width: 51rem;
                }
                @include respond(phone) {
                    width: 37rem;
                }
                @include respond(sm-phone) {
                    width: 35rem;
                }
                @include respond(big-desktop) {
                    width: 31rem;
                }
            }
            &4.card__body-box {
                width: 36rem;
                @include respond(laptop) {
                    width: 34rem;
                }
                @include respond(tab-port) {
                    width: 44rem;
                }
                @include respond(sm-phone) {
                    width: 38rem;
                }
                @include respond(big-desktop) {
                    width: 37rem;
                }
            }
        }
    }

    &--first {
        height: 100%;
        @include respond(tab-land) {
            padding: 0 1.4 rem;
        }
        @include respond(tab-port) {
            padding: 0;
        }
    }

    &--second {
        flex: 4.82;
        @include respond(tab-land) {
            padding: 0 1.4rem;
        }
        @include respond(tab-port) {
            padding: 0;
            margin-top: 2rem;
        }
    }

    &--third {
        width: 100%;
        padding: 0 5rem;

        @include respond(tab-port) {
            padding: 0;
        }
        @include respond(phone) {
        }
    }
}
