.description {
    &__header {
        width: 114%;
        display: flex;
        justify-content: space-around;
        margin-top: 2.2rem;
    }

    &__base {
        display: flex;
        justify-content: space-between;
        margin-top: 2.2rem;
        width: 100%;
    }

    &__list {
        width: 50%;
        padding-left: 9rem;

        @include respond(tab-port) {
            padding-left: $padding-description;
        }
        @include respond(phone) {
            padding-left: $padding-description--phone;
        }
    }
}

.rooms {
    width: 50%;
    margin: 0;
    border-right: solid 1px #000000ba;

    &__text-box {
        padding-right: 2rem;
        width: 90%;

        @include respond(tab-port) {
            padding-right: 2rem;
        }
        @include respond(phone) {
            padding-right: 0;
        }

        &:not(:first-child) {
            margin-top: 4rem;

            @include respond(tab-port) {
                margin-top: 3rem;
            }
        }
    }
}
