.nav {
    display: flex;
    justify-content: flex-end;
    flex: 10;
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.91s ease-out;

    &__list {
        display: flex;
        list-style: none;
        width: fit-content;
        transition: transform 1s ease-out;

        @include respond(phone) {
            display: none;
            border-bottom: solid 1px rgb(209, 209, 209);
            transform: translateY(10rem);
        }
    }

    &__item {
        display: flex;
        transition: background-color 0.1s ease-out;
        border-left: solid 1px rgb(209, 209, 209);

        @include respond(phone) {
            border-top: solid 1px rgb(209, 209, 209);
        }

        &:hover {
            background-color: rgb(248, 248, 248);
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14.2rem;
        height: 7.3rem;
        padding: 0 1rem;

        text-align: center;
        z-index: 1;

        @include respond(tab-land) {
            width: 14rem;
            height: 7rem;
        }
        @include respond(tab-port) {
            width: 10rem;
            height: 7rem;

            &--banner {
                width: 12.4rem;
            }
        }
        @include respond(phone) {
            width: 14rem;
            height: 7rem;
        }
        @include respond(sm-phone) {
            width: 15rem;
            height: 7rem;
        }
    }

    // Functionality

    &__checkbox {
        display: none;
    }

    &__button {
        display: none;
        width: 8rem;
        height: auto;
        text-align: center;
        cursor: pointer;

        @include respond(phone) {
            display: block;
        }
    }

    @include respond(phone) {
        &__checkbox:checked ~ &__list {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 6.4rem;
            background-color: white;
            transform: translateY(0rem);
        }
    }

    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 4rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all 0.28s ease-out;
        }

        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
