body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.4 !important;
}

.heading {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;

        padding-top: 1rem;
        padding-right: 0vw;

        // background: linear-gradient(179.9deg, #dac27b 56%, white 75.8%);

        border-radius: 34%;
    }

    &-primary {
        &--main {
            font-family: 'Parisienne', cursive;
            font-size: 4rem;
            letter-spacing: 1px;
            transform: rotate(0.6deg);

            // margin-right: 6.7rem;

            justify-self: center;
        }

        &--sub {
            margin-top: 1.2rem;
            margin-right: 1.6rem;

            font-family: 'Open Sans', sans-serif;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 600;
            font-style: italic;
        }
    }

    &-secondary {
        position: relative;
        min-width: 23rem;
        // background: linear-gradient(
        //     to bottom,
        //     white 28.1%,
        //     rgba(142, 164, 230, 0.8) 84%,
        //     white 767%
        // );
        margin: 0 auto;
        border-radius: 3px;

        &__text {
            margin-top: 2rem;
            padding: 1rem 0;
            max-width: 26.5rem;

            border-bottom: 1px solid;
            font-family: 'Lato';
            font-size: 1.3rem;
            font-style: italic;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.4;
            text-align: center;
            // text-decoration: 1px underline;
            text-transform: uppercase;
        }
    }
}

.header-info__text {
    font-size: 1.2rem;
    width: max-content !important;
}

.intro {
    flex: 10;
    width: 23rem;
    align-self: center;

    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}
